#box {
    width: 800px;
    height: 55px;
    border-radius: 5px;
    overflow: hidden;
    margin: 8px auto;
    transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
    background: rgb(239, 237, 237);
  }
  
  #box:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-10px);
  }

#box * {
    padding: 2px;
  }
  
  #box .heading {
    font-size: 20px;
  }
  
  
  #box .texts {
    font-size: 10px;
    line-height: 15px;
  }


.header-item {
    text-align: center;
    color: gray;
    
}